<form
  class="form w-100"
  novalidate="novalidate"
  [formGroup]="forgotPasswordForm"
  (ngSubmit)="submit()"
  id="kt_login_password_reset_form">

  <!--begin::Heading-->
  <div class="text-center mb-10">
    <!--begin::Title-->
    <h1 class="text-gray-900 fw-bolder mb-3" translate="AUTH.GENERAL.FORGOT_BUTTON">
    </h1>
    <!--end::Title-->

    <!--begin::Link-->
    <div class="text-gray-500 fw-semibold fs-6">
        Por favor ingresa tu correo para reestablecer tu contraseña.
    </div>
    <!--end::Link-->
  </div>
  <!--begin::Heading-->

  <!-- begin::Alert error-->
  <ng-container *ngIf="errorState === errorStates.HasError">
    <div class="mb-lg-15 alert alert-danger">
      <div class="alert-text font-weight-bold">
        Lo sentimos, por favor inténtalo de nuevo.
      </div>
    </div>
  </ng-container>
  <!-- end::Alert error-->

  <ng-container *ngIf="errorState === errorStates.NoError">
    <div class="mb-10 bg-light-info p-8 rounded">
      <!--begin::Body-->
      <div class="text-info">Se ha enviado el restablecimiento de contraseña. </div>
      <!--end::Body-->
    </div>
  </ng-container>

  <!--begin::Form group-->
  <div class="fv-row mb-8">
    <label class="form-label fw-bolder text-gray-900 fs-6">Correo electrónico</label>
    <input
      class="form-control form-control-lg bg-transparent"
      type="email"
      formControlName="email"
      placeholder="usuario@tecnm.mx"
      name="email"
      autocomplete="off"
      [ngClass]="{
        'is-invalid': forgotPasswordForm.controls['email'].invalid,
        'is-valid': forgotPasswordForm.controls['email'].valid
      }"/>

    <ng-container
      [ngTemplateOutlet]="formError"
      [ngTemplateOutletContext]="{
        validation: 'required',
        message: 'Campo obligatorio',
        control: forgotPasswordForm.controls['email']
      }">
    </ng-container>
    <ng-container
      [ngTemplateOutlet]="formError"
      [ngTemplateOutletContext]="{
        validation: 'email',
        message: 'Ingresa un correo válido',
        control: forgotPasswordForm.controls['email']
      }">
    </ng-container>
    <ng-container
      [ngTemplateOutlet]="formError"
      [ngTemplateOutletContext]="{
        validation: 'minLength',
        message: 'El correo debe tener al menos 3 caracteres',
        control: forgotPasswordForm.controls['email']
      }">
    </ng-container>
    <ng-container
      [ngTemplateOutlet]="formError"
      [ngTemplateOutletContext]="{
        validation: 'maxLength',
        message: 'El correo debe tener máximo 320 caracteres',
        control: forgotPasswordForm.controls['email']
      }">
    </ng-container>
  </div>
  <!--end::Form group-->

  <!--begin::Form group-->
  <div class="d-flex flex-stack flex-wrap gap-4 mb-10">
    <button
      type="submit"
      id="kt_password_reset_submit"
      class="btn btn-primary flex-grow-1"
      [disabled]="forgotPasswordForm.invalid">

      <span class="indicator-label">Enviar</span>
      <ng-container *ngIf="isLoading$ | async">
        <span class="indicator-progress">
          Por favor espera...
          <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
        </span>
      </ng-container>
    </button>

    <a
      routerLink="/auth/login"
      id="kt_login_password_reset_form_cancel_button"
      class="btn btn-primary flex-grow-1">
      Cancelar
    </a>
  </div>
  <!--end::Form group-->

  <!--begin::Aviso-->
   <div class="text-center text-gray-600 fw-semibold fs-7">
      Al ingresar aceptas el
    <a href="#" data-bs-toggle="modal" data-bs-target="#kt_modal_privacy" class="link-primary">Aviso de Privacidad</a>
   </div>
  <!--end::Aviso-->

<!-- Modal de privacidad -->
<div class="modal fade" id="kt_modal_privacy" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered mw-650px">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="fw-bold">Aviso de Privacidad del TECNM</h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body py-5 px-10">
        <p>Texto completo del aviso de privacidad...</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Aceptar</button>
      </div>
    </div>
  </div>
</div>

<ng-template
  #formError
  let-control="control"
  let-message="message"
  let-validation="validation">
  <ng-container
    *ngIf="control.hasError(validation) && (control.dirty || control.touched)">
    <div class="fv-plugins-message-container">
      <div class="fv-help-block">
        <span role="alert">{{ message }}</span>
      </div>
    </div>
  </ng-container>
</ng-template>

