<div class="row g-5 g-xl-8">
    <!-- Tablero por Departamentos -->
    <div class="col-xl-6">
        <app-departamentos></app-departamentos>
    </div>
    <!-- Tablero por Cuerpos Académicos -->
    <div class="col-xl-6">
        <app-cuerpos-academicos></app-cuerpos-academicos>
    </div>
</div>

<div class="row g-5 g-xl-8">
    <!-- Tablero por Programas Educativos -->
    <div class="col-xl-6">
        <app-programas-educativos></app-programas-educativos>
    </div>

    <!-- Tablero por Investigadoes (filtrar por Investigador) -->
    <div class="col-xl-6">
        <app-investigadores></app-investigadores>
    </div>
</div>

<div class="row g-5 g-xl-8">
    <!-- Tablero de Registros por Categoría (Docente, Administrativo, Alumno) -->
    <div class="col-xl-6">
        <app-tablero-registro-categoria 
        [data]="categorias" 
        titulo="GRAPHICS.TITLES.REGISTERS_BY_CATEGORY"
        [height]="400"
        (exportExcel)="exportExcelRegisterByCategory()"
        ></app-tablero-registro-categoria>
    </div>

    <!-- Tablero de Registros por Sexo (Hombre o Mujer) -->
    <div class="col-xl-6">
        <app-registros-sexo 
        class="card card-xl-stretch mb-xl-8"
        (exportExcel)="exportExcelRegisterByGender()"
        ></app-registros-sexo>
    </div>
</div>

<div class="row g-5 g-xl-8">
    <!-- Tablero por Año (filtrar por trimestre o rango de fecha) -->
    <div class="col-xl-6">
        <app-registros-anio 
        class="card card-xl-stretch mb-xl-8"
        (exportExcel)="exportExcelReportByYear($event)"
        ></app-registros-anio>
    </div>

    <!-- Tablero de Registros por Estatus (En revisión, concedida, rechazada, en mantenimiento) -->
    <div class="col-xl-6">
        <app-registro-estatus 
        class="card card-xl-stretch mb-xl-8"
        (exportExcel)="exportExcelRegisterByStatus()"
        ></app-registro-estatus>
    </div>
</div>