<div class="row g-5 g-xl-8">
  <div class="col-xl-6">
    <div class="card card-xl-stretch mb-xl-8">
      <!-- begin::Header -->
      <div class="card-header border-0 pt-5">
        <h3 class="card-title align-items-start flex-column">
          <span class="card-label fw-bolder fs-3 mb-1" translate="GRAPHICS.TITLES.FEDERAL_INSTITUTIONS"></span>
          <span class="text-muted mt-1 fw-bold fs-7" translate="GRAPHICS.TITLES.REQUEST"></span>
        </h3>
      </div>
      <!-- end::Header -->
      <!-- begin::Body -->
      <div class="card-body py-3">
        <!-- begin::Table container -->
        <div class="table-responsive">
          <!-- begin::Table -->
          <table class="table table-row-dashed table-row-gray-300 align-middle gs-0 gy-4">
            <!-- begin::Table head -->
            <thead>
            <tr class="fw-bolder text-muted">
              <th class="min-w-150px"><span translate="GRAPHICS.TITLES.APPLICATION_TYPE"></span></th>
              <th class="min-w-200px text-center"><span translate="GRAPHICS.TITLES.REQUEST"></span></th>
            </tr>
            </thead>
            <!-- end::Table head -->
            <!-- begin::Table body -->
            <tbody>
            <tr>
              <td>
                <div class="d-flex align-items-center">
                  <div class="symbol symbol-45px me-5">
                    <app-keenicon name="institution" class="fs-2"></app-keenicon>
                  </div>
                  <div class="d-flex justify-content-start flex-column">
                    <span class="text-gray-900 fw-bolder fs-6" translate="MENU.ADMIN.PATENTS"></span>
                  </div>
                </div>
              </td>
              <td class="text-center">
                <span class="text-muted fw-bold">1200 <span translate="GRAPHICS.TITLES.REQUEST"></span></span>
              </td>
            </tr>
            <tr>
              <td>
                <div class="d-flex align-items-center">
                  <div class="symbol symbol-45px me-5">
                    <app-keenicon name="trademark" class="fs-2"></app-keenicon>
                  </div>
                  <div class="d-flex justify-content-start flex-column">
                    <span class="text-gray-900 fw-bolder fs-6" translate="MENU.ADMIN.TRADEMARKS"></span>
                  </div>
                </div>
              </td>
              <td class="text-center">
                <span class="text-muted fw-bold">800 <span translate="GRAPHICS.TITLES.REQUEST"></span></span>
              </td>
            </tr>
            <tr>
              <td>
                <div class="d-flex align-items-center">
                  <div class="symbol symbol-45px me-5">
                    <app-keenicon name="utility-model" class="fs-2"></app-keenicon>
                  </div>
                  <div class="d-flex justify-content-start flex-column">
                    <span class="text-gray-900 fw-bolder fs-6" translate="MENU.ADMIN.UTILITY_MODELS"></span>
                  </div>
                </div>
              </td>
              <td class="text-center">
                <span class="text-muted fw-bold">600 <span translate="GRAPHICS.TITLES.REQUEST"></span></span>
              </td>
            </tr>
            <tr>
              <td>
                <div class="d-flex align-items-center">
                  <div class="symbol symbol-45px me-5">
                    <app-keenicon name="copyright" class="fs-2"></app-keenicon>
                  </div>
                  <div class="d-flex justify-content-start flex-column">
                    <span class="text-gray-900 fw-bolder fs-6" translate="MENU.ADMIN.COPYRIGHTS"></span>
                  </div>
                </div>
              </td>
              <td class="text-center">
                <span class="text-muted fw-bold">400 <span translate="GRAPHICS.TITLES.REQUEST"></span></span>
              </td>
            </tr>
            <tr>
              <td>
                <div class="d-flex align-items-center">
                  <div class="symbol symbol-45px me-5">
                    <app-keenicon name="industrial-design" class="fs-2"></app-keenicon>
                  </div>
                  <div class="d-flex justify-content-start flex-column">
                    <span class="text-gray-900 fw-bolder fs-6" translate="MENU.ADMIN.INDUSTRIAL_DESIGNS"></span>
                  </div>
                </div>
              </td>
              <td class="text-center">
                <span class="text-muted fw-bold">300 <span translate="GRAPHICS.TITLES.REQUEST"></span></span>
              </td>
            </tr>
            </tbody>
            <!-- end::Table body -->
          </table>
          <!-- end::Table -->
        </div>
        <!-- end::Table container -->
      </div>
      <!-- begin::Body -->
    </div>
  </div>

  <div class="col-xl-6">
    <div class="card card-xl-stretch mb-xl-8">
      <!-- begin::Header -->
      <div class="card-header border-0 pt-5">
        <h3 class="card-title align-items-start flex-column">
          <span class="card-label fw-bolder fs-3 mb-1" translate="GRAPHICS.TITLES.CENTRALIZED_INSTITUTIONS"></span>
          <span class="text-muted mt-1 fw-bold fs-7" translate="GRAPHICS.TITLES.REQUEST"></span>
        </h3>
      </div>
      <!-- end::Header -->
      <!-- begin::Body -->
      <div class="card-body py-3">
        <!-- begin::Table container -->
        <div class="table-responsive">
          <!-- begin::Table -->
          <table class="table table-row-dashed table-row-gray-300 align-middle gs-0 gy-4">
            <!-- begin::Table head -->
            <thead>
            <tr class="fw-bolder text-muted">
              <th class="min-w-150px"><span translate="GRAPHICS.TITLES.APPLICATION_TYPE"></span></th>
              <th class="min-w-200px text-center"><span translate="GRAPHICS.TITLES.REQUEST"></span></th>
            </tr>
            </thead>
            <!-- end::Table head -->
            <!-- begin::Table body -->
            <tbody>
            <tr>
              <td>
                <div class="d-flex align-items-center">
                  <div class="symbol symbol-45px me-5">
                    <app-keenicon name="institution" class="fs-2"></app-keenicon>
                  </div>
                  <div class="d-flex justify-content-start flex-column">
                    <span class="text-gray-900 fw-bolder fs-6" translate="MENU.ADMIN.PATENTS"></span>
                  </div>
                </div>
              </td>
              <td class="text-center">
                <span class="text-muted fw-bold">600 <span translate="GRAPHICS.TITLES.REQUEST"></span></span>
              </td>
            </tr>
            <tr>
              <td>
                <div class="d-flex align-items-center">
                  <div class="symbol symbol-45px me-5">
                    <app-keenicon name="trademark" class="fs-2"></app-keenicon>
                  </div>
                  <div class="d-flex justify-content-start flex-column">
                    <span class="text-gray-900 fw-bolder fs-6" translate="MENU.ADMIN.TRADEMARKS"></span>
                  </div>
                </div>
              </td>
              <td class="text-center">
                <span class="text-muted fw-bold">400 <span translate="GRAPHICS.TITLES.REQUEST"></span></span>
              </td>
            </tr>
            <tr>
              <td>
                <div class="d-flex align-items-center">
                  <div class="symbol symbol-45px me-5">
                    <app-keenicon name="utility-model" class="fs-2"></app-keenicon>
                  </div>
                  <div class="d-flex justify-content-start flex-column">
                    <span class="text-gray-900 fw-bolder fs-6" translate="MENU.ADMIN.UTILITY_MODELS"></span>
                  </div>
                </div>
              </td>
              <td class="text-center">
                <span class="text-muted fw-bold">300 <span translate="GRAPHICS.TITLES.REQUEST"></span></span>
              </td>
            </tr>
            <tr>
              <td>
                <div class="d-flex align-items-center">
                  <div class="symbol symbol-45px me-5">
                    <app-keenicon name="copyright" class="fs-2"></app-keenicon>
                  </div>
                  <div class="d-flex justify-content-start flex-column">
                    <span class="text-gray-900 fw-bolder fs-6" translate="MENU.ADMIN.COPYRIGHTS"></span>
                  </div>
                </div>
              </td>
              <td class="text-center">
                <span class="text-muted fw-bold">200 <span translate="GRAPHICS.TITLES.REQUEST"></span></span>
              </td>
            </tr>
            <tr>
              <td>
                <div class="d-flex align-items-center">
                  <div class="symbol symbol-45px me-5">
                    <app-keenicon name="industrial-design" class="fs-2"></app-keenicon>
                  </div>
                  <div class="d-flex justify-content-start flex-column">
                    <span class="text-gray-900 fw-bolder fs-6" translate="MENU.ADMIN.INDUSTRIAL_DESIGNS"></span>
                  </div>
                </div>
              </td>
              <td class="text-center">
                <span class="text-muted fw-bold">150 <span translate="GRAPHICS.TITLES.REQUEST"></span></span>
              </td>
            </tr>
            </tbody>
            <!-- end::Table body -->
          </table>
          <!-- end::Table -->
        </div>
        <!-- end::Table container -->
      </div>
      <!-- begin::Body -->
    </div>
  </div>
</div>

<div class="row g-5 g-xl-8">
  <div class="col-xl-6">
    <div class="card card-xl-stretch mb-xl-8">
      <!-- begin::Header -->
      <div class="card-header border-0 pt-5">
        <h3 class="card-title align-items-start flex-column">
          <span class="card-label fw-bolder fs-3 mb-1" translate="GRAPHICS.TITLES.FEDERAL_INSTITUTIONS"></span>
          <span class="text-muted mt-1 fw-bold fs-7" translate="GRAPHICS.SUBTITLES.TOP_5"></span>
        </h3>
        <div class="card-toolbar">
          <!-- begin::Menu -->
          <button type="button" class="btn btn-sm btn-icon btn-color-primary btn-active-light-primary"
                  data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end" data-kt-menu-flip="top-end">
            <app-keenicon name="category" class="fs-2"></app-keenicon>
          </button>
          <app-dropdown-menu1></app-dropdown-menu1>
          <!-- end::Menu -->
        </div>
      </div>
      <!-- end::Header -->
      <!-- begin::Body -->
      <div class="card-body py-3">
        <!-- begin::Table container -->
        <div class="table-responsive">
          <!-- begin::Table -->
          <table class="table align-middle gs-0 gy-5">
            <!-- begin::Table head -->
            <thead>
            <tr>
              <th class="p-0 min-w-150px"></th>
              <th class="p-0 min-w-125px"></th>
            </tr>
            </thead>
            <!-- end::Table head -->
            <!-- begin::Table body -->
            <tbody>
              @for (institution of topFiveFederalInstitutions; track $index) {
                <tr>
                  <td>
                    <div class="d-flex align-items-center">
                      <div class="symbol symbol-45px me-5">
                        <app-keenicon name="institution" class="fs-2"></app-keenicon>
                      </div>
                      <div class="d-flex justify-content-start flex-column">
                        <span class="text-gray-900 fw-bolder fs-6">{{ $index + 1 }}. {{ institution.name | titlecase }}</span>
                      </div>
                    </div>
                  </td>
                  <td class="text-center">
                    <span class="text-muted fw-bold">{{ institution.value }} <span translate="GRAPHICS.TITLES.REQUEST"></span></span>
                  </td>
                </tr>
              } @empty {
                <tr>
                  <td colspan="2" class="text-center text-muted"><span translate="GRAPHICS.LEGENDS.NO_FEDERAL_INSTITUTIONS"></span></td>
                </tr>
              }
            </tbody>
            <!-- end::Table body -->
          </table>
          <!-- end::Table -->
        </div>
        <!-- end::Table container -->
      </div>
      <!-- end::Body -->
    </div>
  </div>

  <div class="col-xl-6">
    <div class="card card-xl-stretch mb-xl-8">
      <!-- begin::Header -->
      <div class="card-header border-0 pt-5">
        <h3 class="card-title align-items-start flex-column">
          <span class="card-label fw-bolder fs-3 mb-1" translate="GRAPHICS.TITLES.CENTRALIZED_INSTITUTIONS"></span>
          <span class="text-muted mt-1 fw-bold fs-7" translate="GRAPHICS.SUBTITLES.TOP_5"></span>
        </h3>
        <div class="card-toolbar">
          <!-- begin::Menu -->
          <button type="button" class="btn btn-sm btn-icon btn-color-primary btn-active-light-primary"
                  data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end" data-kt-menu-flip="top-end">
            <app-keenicon name="category" class="fs-2"></app-keenicon>
          </button>
          <app-dropdown-menu1></app-dropdown-menu1>
          <!-- end::Menu -->
        </div>
      </div>
      <!-- end::Header -->
      <!-- begin::Body -->
      <div class="card-body py-3">
        <!-- begin::Table container -->
        <div class="table-responsive">
          <!-- begin::Table -->
          <table class="table align-middle gs-0 gy-5">
            <!-- begin::Table head -->
            <thead>
            <tr>
              <th class="p-0 min-w-150px"></th>
              <th class="p-0 min-w-125px"></th>
            </tr>
            </thead>
            <!-- end::Table head -->
            <!-- begin::Table body -->
            <tbody>
              @for (institution of topFiveCentralizedInstitutions; track $index) {
                <tr>
                  <td>
                    <div class="d-flex align-items-center">
                      <div class="symbol symbol-45px me-5">
                        <app-keenicon name="institution" class="fs-2"></app-keenicon>
                      </div>
                      <div class="d-flex justify-content-start flex-column">
                        <span class="text-gray-900 fw-bolder fs-6">{{ $index + 1 }}. {{ institution.name | titlecase }}</span>
                      </div>
                    </div>
                  </td>
                  <td class="text-center">
                    <span class="text-muted fw-bold">{{ institution.value }} <span translate="GRAPHICS.TITLES.REQUEST"></span></span>
                  </td>
                </tr>
              } @empty {
                <tr>
                  <td colspan="2" class="text-center text-muted"><span translate="GRAPHICS.LEGENDS.NO_CENTRALIZED_INSTITUTIONS"></span></td>
                </tr>
              }
            </tbody>
            <!-- end::Table body -->
          </table>
          <!-- end::Table -->
        </div>
        <!-- end::Table container -->
      </div>
      <!-- end::Body -->
    </div>
  </div>
</div>

<div class="row g-5 g-xl-8">
  <div class="col-xl-6">
    <div class="card card-xl-stretch mb-xl-8">
      <!-- begin::Header -->
      <div class="card-header border-0 pt-5">
        <h3 class="card-title align-items-start flex-column">
          <span class="card-label fw-bolder fs-3 mb-1" translate="GRAPHICS.TITLES.FEDERAL_ENTITIES"></span>
          <span class="text-muted mt-1 fw-bold fs-7" translate="GRAPHICS.SUBTITLES.TOP_5"></span>
        </h3>
        <div class="card-toolbar">
          <!-- begin::Menu -->
          <button type="button" class="btn btn-sm btn-icon btn-color-primary btn-active-light-primary"
                  data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end" data-kt-menu-flip="top-end">
            <app-keenicon name="category" class="fs-2"></app-keenicon>
          </button>
          <app-dropdown-menu1></app-dropdown-menu1>
          <!-- end::Menu -->
        </div>
      </div>
      <!-- end::Header -->
      <!-- begin::Body -->
      <div class="card-body py-3">
        <!-- begin::Table container -->
        <div class="table-responsive">
          <!-- begin::Table -->
          <table class="table align-middle gs-0 gy-5">
            <!-- begin::Table head -->
            <thead>
            <tr>
              <th class="p-0 min-w-150px"></th>
              <th class="p-0 min-w-125px"></th>
            </tr>
            </thead>
            <!-- end::Table head -->
            <!-- begin::Table body -->
            <tbody>
              @for (entity of topFiveEntities; track $index) {
                <tr>
                  <td>
                    <div class="d-flex align-items-center">
                      <div class="symbol symbol-45px me-5">
                        <app-keenicon name="institution" class="fs-2"></app-keenicon>
                      </div>
                      <div class="d-flex justify-content-start flex-column">
                        <span class="text-gray-900 fw-bolder fs-6">{{ $index + 1 }}. {{ entity.name | titlecase }}</span>
                      </div>
                    </div>
                  </td>
                  <td class="text-center">
                    <span class="text-muted fw-bold">{{ entity.value }} <span translate="GRAPHICS.TITLES.REQUEST"></span></span>
                  </td>
                </tr>
              } @empty {
                <tr>
                  <td colspan="2" class="text-center text-muted"><span translate="GRAPHICS.LEGENDS.NO_FEDERAL_ENTITIES"></span></td>
                </tr>
              }
            </tbody>
            <!-- end::Table body -->
          </table>
          <!-- end::Table -->
        </div>
        <!-- end::Table container -->
      </div>
      <!-- end::Body -->
    </div>
  </div>
</div>
