<div class="row g-5 g-xl-8"> 
  <!-- Institutos Federales -->
  <div class="col-xl-6">
    <app-tablero-institutos-general
      titulo="Institutos Tecnológicos Federales"
      [tipoInstitucion]="123"
      [data]="dataFederalInstitutes"
      (retry)="loadRegisterInstitutes(123)"
    ></app-tablero-institutos-general>
  </div>

  <!-- Institutos Descentralizados -->
  <div class="col-xl-6">
    <app-tablero-institutos-general
      titulo="Institutos Descentralizados"
      [tipoInstitucion]="122"
      [data]="dataDecentralizedInstitutes"
      (retry)="loadRegisterInstitutes(122)"
    ></app-tablero-institutos-general>
  </div>
</div>

<div class="row g-5 g-xl-8">
  <!-- Tablero top 10 institutos -->
  <div class="col-xl-6">
        <app-tablero-top10-instituciones [instituciones]="dataTop10Institutions"></app-tablero-top10-instituciones> 
    <!-- <app-tablero-instituciones></app-tablero-instituciones> -->
  
  </div>

  <!-- Todas las Instituciones -->
  <div class="col-xl-6">
    <app-tablero-all-institutions titulo="Todas las Instituciones"></app-tablero-all-institutions>
  </div>
</div>

<!-- TOP 10 DE ENTIDADES FEDERATIVAS -->
<div class="row g-5 g-xl-8">
  <div class="col-xl-6">
    <div class="card card-xl-stretch mb-xl-8">
      <!-- begin::Header -->
      <div class="card-header border-0 pt-5">
        <h3 class="card-title align-items-start flex-column">
          <span
            class="card-label fw-bolder fs-3 mb-1"
            translate="GRAPHICS.TITLES.FEDERAL_ENTITIES"
          ></span>
          <span
            class="text-muted mt-1 fw-bold fs-7"
            translate="GRAPHICS.SUBTITLES.TOP_5"
          ></span>
        </h3>
        <div class="card-toolbar">
          <!-- begin::Button-->
          <div
            class="btn btn-sm btn-icon btn-bg-light btn-active-color-primary tooltip-css"
          >
            <mat-icon style="color: #1d6f42">description</mat-icon>
            <span class="tooltip-text" translate="BUTTON.EXPORT_EXCEL"></span>
          </div>
          <!-- end::Button-->
        </div>
      </div>
      <!-- end::Header -->
      <!-- begin::Body -->
      <div class="card-body py-3">
        <!-- DEBUG TEMPORAL 
        <div class="alert alert-success mb-3" *ngIf="topFiveEntities.length > 0">
          <strong></strong> {{ topFiveEntities.length }} entidades federativas
        </div>-->
        
        <!-- begin::Table container -->
        <div class="table-responsive" style="max-height: 400px; overflow-y: auto;">
          <!-- begin::Table -->
          <table class="table align-middle gs-0 gy-5">
            <!-- begin::Table head -->
            <thead>
              <tr>
                <th class="text-muted mt-1 fw-bold fs-7">Entidad</th>
                <th class="text-muted mt-1 fw-bold fs-7 text-center">Total</th>
              </tr>
            </thead>
            <!-- end::Table head -->
            <!-- begin::Table body -->
            <tbody>
              <tr *ngFor="let entity of topFiveEntities; let i = index">
                <td>
                  <div class="d-flex align-items-center">
                    <div class="symbol symbol-45px me-5 d-flex justify-content-center align-items-center px-2">
                      <mat-icon style="font-size: 25px; height: 25px; width: 40px; color: rgb(1, 8, 49);">place</mat-icon>
                    </div>
                    <div class="d-flex justify-content-start flex-column">
                      <span class="text-gray-900 fw-bolder fs-6">
                        {{ i + 1 }} . {{ entity.entidad_nombre | titlecase }}
                      </span>
                    </div>
                  </div>
                </td>
                <td class="text-end">
                    <span class="bg-light-primary rounded py-1 px-2 fw-bold text-primary text">
                    {{ entity.total }}
                    <span translate="GRAPHICS.TITLES.REQUEST"></span>
                  </span>
                </td>
              </tr>

              <tr *ngIf="topFiveEntities.length === 0">
                <td colspan="2" class="text-center text-muted">
                  <span translate="GRAPHICS.LEGENDS.NO_FEDERAL_ENTITIES"></span>
                </td>
              </tr>
            </tbody>
            <!-- end::Table body -->
          </table>
          <!-- end::Table -->
        </div>
        <!-- end::Table container -->
      </div>
      <!-- end::Body -->
    </div>
  </div>

  <div class="col-xl-6">
    <app-grafica-sector></app-grafica-sector>
  </div>
</div>

<!-- Resto del dashboard -->
<div class="row g-5 g-xl-8">
  <div class="col-xl-6">
    <app-grafica-solicitudes></app-grafica-solicitudes>
  </div>
  <div class="col-xl-6">
    <app-grafica-solicitudes-in></app-grafica-solicitudes-in>
  </div>
</div>

<div class="row g-5 g-xl-8">
  <div class="col-xl-6">
    <app-tablero-registro-categoria
      [data]="categorias"
      titulo="GRAPHICS.TITLES.REGISTERS_BY_CATEGORY"
      [height]="400"
    ></app-tablero-registro-categoria>
  </div>
  <div class="col-xl-6">
    <app-registros-sexo class="card card-xl-stretch mb-xl-8"></app-registros-sexo>
  </div>
</div>

<div class="row g-5 g-xl-8">
  <div class="col-xl-6">
    <app-registros-anio  class="card card-xl-stretch mb-xl-8"></app-registros-anio>
  </div>
  <div class="col-xl-6">
    <app-registro-estatus class="card card-xl-stretch mb-xl-8"></app-registro-estatus>
  </div>
</div>