<div class="reportes-container">
  <h2>{{ 'REPORTS.TITLE' | translate }}</h2>
  <p>{{ 'REPORTS.DESC' | translate }}</p>

  <div class="card-grid">
    <div
      class="card reporte-card"
      *ngFor="let reporte of reportes"
      [ngClass]="reporte.color"
      (click)="verReporte(reporte.archivo)"
    >
      <span class="material-icons icono-reporte">{{ reporte.icono }}</span>
      <h3>{{ reporte.titulo | translate }}</h3>
      <p>{{ reporte.descripcion | translate }}</p>
      <button>{{ 'REPORTS.BUTTON' | translate }}</button>
    </div>
  </div>


  <div *ngIf="isLoading" class="custom-loading-overlay">
    <div class="custom-loading-box">
      <p class="loading-text">
        {{ 'REPORTS.LOADING' | translate }}
        <span class="loading-dots">
          <span></span>
          <span></span>
          <span></span>
        </span>
      </p>
    </div>
  </div>
</div>
