<div class="card card-xl-stretch mb-xl-8">
  <div class="card-header border-0 pt-5">
    <h3 class="card-title align-items-start flex-column">
      <span class="card-label fw-bolder fs-3 mb-1" [translate]="titulo"></span>
      <span
        *ngIf="subtitulo"
        class="text-muted mt-1 fw-bold fs-7"
        [translate]="subtitulo"
      ></span>
    </h3>
    <div class="card-toolbar">
      <!-- begin::Button-->
      <div
        class="btn btn-sm btn-icon btn-bg-light btn-active-color-primary tooltip-css"
      >
        <mat-icon style="color: #1d6f42">description</mat-icon>
        <span class="tooltip-text" translate="BUTTON.EXPORT_EXCEL"></span>
      </div>
      <!-- end::Button-->
    </div>
  </div>
  <div class="card-body p-5">
    <div class="table-responsive">
      <apx-chart
        [series]="chartOptions.series"
        [chart]="chartOptions.chart"
        [xaxis]="chartOptions.xaxis"
        [dataLabels]="chartOptions.dataLabels"
        [stroke]="chartOptions.stroke"
        [legend]="chartOptions.legend"
        [fill]="chartOptions.fill"
        [tooltip]="chartOptions.tooltip"
        [colors]="chartOptions.colors"
        [plotOptions]="chartOptions.plotOptions"
      ></apx-chart>
    </div>
  </div>
</div>
