<!-- NUEVO: Saludo personalizado con fecha -->
<div class="app-navbar-item me-3" [ngClass]="itemClass">
  <div *ngIf="user$ | async as user" class="d-flex align-items-center">
    <div class="d-flex flex-column text-end me-3">
      <span class="text-gray-800 fw-bold fs-7">
        Hola, {{ user.name || "Usuario" }}! 👋
      </span>
      <span class="text-muted fs-8">
        {{ currentDate | date : "dd-MM-yyyy" }}
      </span>
    </div>
  </div>
</div>
<!-- end::Saludo personalizado -->

<!--begin::User menu-->
<div
  class="app-navbar-item"
  [ngClass]="itemClass"
  style="
    background-color: #d7e8ff;
    margin-top: 10px;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  "
>
  <div
    *ngIf="user$ | async as _user"
    class="cursor-pointer symbol"
    [ngClass]="userAvatarClass"
    data-kt-menu-trigger="{default: 'click', lg: 'hover'}"
    data-kt-menu-attach="parent"
    data-kt-menu-placement="bottom-end"
  >
    <span class="fw-bold" style="color: #1a85fe !important; font-size: 1.5rem">
      {{ getInitials(_user.name || "") }}
    </span>
  </div>
  <app-user-inner data-kt-menu="true"></app-user-inner>
</div>
