    <div class="card card-xl-stretch mb-xl-8">
      <div class="card-header border-0 pt-5">
        <h3 class="card-title align-items-start flex-column">
          <span
            class="card-label fw-bolder fs-3 mb-1"
            translate="GRAPHICS.TITLES.TREQUESTIN"
          ></span>
          <span
            class="text-muted fw-bold fs-7"
            translate="GRAPHICS.TITLES.TYPE"
          ></span>
        </h3>

        <div class="card-toolbar">
          <button
            type="button"
            class="btn btn-sm btn-icon btn-color-primary btn-active-light-primary"
            data-kt-menu-trigger="click"
            data-kt-menu-placement="bottom-end"
            data-kt-menu-flip="top-end"
          >
              <span class="fs-2">
                <!-- begin::Button-->
                <div class="btn btn-sm btn-icon btn-bg-light btn-active-color-primary tooltip-css"
                (click)="onExportExcel()">
                  <mat-icon style="color: #1D6F42;">description</mat-icon>
                  <span class="tooltip-text" translate="BUTTON.EXPORT_EXCEL"></span>
                </div>
              <!-- end::Button--> 
              </span>
          </button>
        </div>
      </div>
      <div class="card-body">
        <div #chartRef id="dashboard_chart" [style.height]="'350px'">
          <apx-chart *ngIf="chartOptions"
            [series]="chartOptions?.series"
            [chart]="chartOptions?.chart"
            [xaxis]="chartOptions?.xaxis"
            [yaxis]="chartOptions?.yaxis"
            [dataLabels]="chartOptions?.dataLabels"
            [stroke]="chartOptions?.stroke"
            [legend]="chartOptions?.legend"
            [fill]="chartOptions?.fill"
            [states]="chartOptions?.states"
            [tooltip]="chartOptions?.tooltip"
            [colors]="chartOptions?.colors"
            [plotOptions]="chartOptions?.plotOptions"
          ></apx-chart>
        </div>
      </div>
    </div>
