  <div class="card card-xl-stretch mb-xl-8" style="height: 540px;">
    <!-- begin::Header -->
    <div class="card-header border-0 pt-5">
      <h3 class="card-title align-items-start flex-column">
        <span class="card-label fw-bolder fs-3 mb-1" translate="GRAPHICS.TITLES.ECONOMIC_SECTORS"></span>
        <span class="text-muted mt-1 fw-bold fs-7" translate="GRAPHICS.SUBTITLES.REGISTER"></span>
      </h3>
     <div class="btn btn-sm btn-icon btn-bg-light btn-active-color-primary tooltip-css">
           <mat-icon style="color: #1D6F42;">description</mat-icon>
           <span class="tooltip-text" translate="BUTTON.EXPORT_EXCEL"></span>
      </div>
    </div>
    <!-- end::Header -->
    <!-- begin::Body -->
    <div class="card-body py-3" style="overflow: hidden;">
      <!-- begin::Table container -->
      <div class="table-responsive flex-grow-1" style="max-height: 400px; overflow-y: auto;">
        <!-- begin::Table -->
        <table class="table align-middle gs-0 gy-5">
          <!-- begin::Table head -->
          <thead class="sticky-top bg-white">
            <tr>
              <th class="p-0 min-w-60px"></th>
              <th class="p-0 min-w-320px"></th>
              <th class="p-0 min-w-125px"></th>
            </tr>
          </thead>
          <!-- end::Table head -->
          <!-- begin::Table body -->
          <tbody>
            <tr *ngFor="let sector of sectoresList">
              <td>
                <div class="d-flex align-items-center">
                  <div class="symbol symbol-45px me-5">
                    <mat-icon class="material-symbols-outlined fs-2">factory</mat-icon>
                  </div>
                  <div class="d-flex justify-content-start flex-column">
                    <span class="text-gray-900 fw-bolder fs-6">{{ sector.actividad_nombre }}</span>
                  </div>
                </div>
              </td>
              <td class="text-end">
                <span 
                      class="badge fw-bold me-1"
                      [ngClass]="{
                        'badge-light-danger': sector.sector_nombre === 'Terciario',
                        'badge-light-info': sector.sector_nombre === 'Quinario',
                        'badge-light-warning': sector.sector_nombre === 'Secundario',
                        'badge-light-success': sector.sector_nombre === 'Cuaternario',
                        'badge-light-primary': sector.sector_nombre === 'Primario'
                      }">
                  {{ sector.sector_nombre }}
                </span>
              </td>
              <td class="text-center">
                <span class="text-muted fw-bold">{{ sector.total }} <span translate="GRAPHICS.SUBTITLES.REGISTER"></span></span>
              </td>
            </tr>
          </tbody>
          <!-- end::Table body -->
        </table>
        <!-- end::Table -->
      </div>
      <!-- end::Table container -->
    </div>
    <!-- end::Body -->
  </div>