<div class="card">
    <div class="card-header border-0 pt-6">
        <div class="card-title">
            <h3 translate="FORMS.PATENT.TITLE"></h3>
        </div>
    </div>

    <div class="card-body">
        <form #myForm="ngForm" (ngSubmit)="onSubmit($event)" class="patent-form">
            <div class="d-flex flex-column scroll-y me-n7 pe-7">

                <div class="notice d-flex bg-light-primary rounded border-primary border border-dashed mb-9 p-6">
                    <app-keenicon name="information" class="fs-2tx text-primary me-4"></app-keenicon>
                    <div class="d-flex flex-stack flex-grow-1">
                        <div class="fw-semibold">
                            <div class="fs-6 text-gray-700">
                                <span translate="FORMS.PATENT.INFO_1"></span><br />
                                <span translate="FORMS.PATENT.INFO_2"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- SECCIÓN 1: DATOS GENERALES DEL SOLICITANTE -->
                <div class="fw-bold fs-3 rotate collapsible mb-7" data-bs-toggle="collapse" role="button"
                    (click)="collapse1.toggle()" [attr.aria-expanded]="!isCollapsed1"
                    aria-controls="kt_solicitante_info">
                    <app-keenicon name="profile-user" class="fs-3 me-2"></app-keenicon>
                    <span translate="FORMS.PATENT.GENERAL_SECTION.TITLE"></span>
                    <span class="ms-2 rotate-180">
                        <i class="ki-duotone ki-down fs-3" [ngClass]="{ 'ki-up': !isCollapsed1 }"></i>
                    </span>
                </div>

                <div class="collapse show" #collapse1="ngbCollapse" [(ngbCollapse)]="isCollapsed1">
                    <div class="row g-9 mb-7">
                        <div class="col-md-6 fv-row">
                            <label class="fw-semibold fs-6 mb-2 text-gray-600"
                                translate="FORMS.PATENT.GENERAL_SECTION.APPLICATION_DATE"></label>
                            <input type="date" class="form-control form-control-solid bg-light"
                                [(ngModel)]="patenteModel.fechaSolicitud" name="fechaSolicitud" readonly />
                        </div>
                        <div class="col-md-6 fv-row">
                            <label class="required fw-semibold fs-6 mb-2 text-gray-600"
                                translate="FORMS.PATENT.GENERAL_SECTION.APPLICATION_MODE.LABEL"></label>
                            <select class="form-select form-select-solid" [(ngModel)]="patenteModel.modalidadSolicitud"
                                name="modalidadSolicitud" #modalidad="ngModel" required>
                                <option value="" translate="FORMS.PATENT.GENERAL_SECTION.APPLICATION_MODE.SELECT_MODE">
                                </option>
                                <option value="en_linea"
                                    translate="FORMS.PATENT.GENERAL_SECTION.APPLICATION_MODE.ONLINE"></option>
                                <option value="presencial"
                                    translate="FORMS.PATENT.GENERAL_SECTION.APPLICATION_MODE.IN_PERSON"></option>
                            </select>
                            <div *ngIf="myForm.submitted && modalidad.invalid"
                                class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
                                <div *ngIf="modalidad.errors?.['required']"><span
                                        translate="FORMS.PATENT.ERRORS.APPLICATION_MODE"></span></div>
                            </div>
                        </div>
                    </div>

                    <div class="row g-9 mb-7">
                        <div class="col-md-6 fv-row">
                            <label class="required fw-semibold fs-6 mb-2 text-gray-600"
                                translate="FORMS.PATENT.GENERAL_SECTION.NAME_COMPANY.LABEL"></label>
                            <input type="text" #nombreRazonInput class="form-control form-control-solid"
                                [class.is-invalid]="nombreRazonError"
                                [class.is-valid]="!nombreRazonError && patenteModel.nombreCompleto && patenteModel.nombreCompleto.length > 0"
                                [(ngModel)]="patenteModel.nombreCompleto" name="nombreCompleto"
                                #nombreCompleto="ngModel" required minlength="3" maxlength="200"
                                (input)="onNombreCompletoChange($event)" [placeholder]="placeholderNombre" />

                            <div *ngIf="nombreRazonError" class="invalid-feedback d-block">
                                {{ nombreRazonError }}
                            </div>
                        </div>
                        <div class="col-md-6 fv-row">
                            <label class="required fw-semibold fs-6 mb-2 text-gray-600"
                                translate="FORMS.PATENT.GENERAL_SECTION.NATIONALITY.LABEL"></label>
                            <input type="text" #nacionalidadInput class="form-control form-control-solid"
                                [class.is-invalid]="nacionalidadError"
                                [class.is-valid]="!nacionalidadError && patenteModel.nacionalidad && patenteModel.nacionalidad.length > 0"
                                [(ngModel)]="patenteModel.nacionalidad" name="nacionalidad" #nacionalidad="ngModel"
                                required minlength="4" maxlength="20" (input)="onNacionalidadChange($event)"
                                [placeholder]="placeholderNacionalidad" />

                            <div *ngIf="nacionalidadError" class="invalid-feedback d-block">
                                {{ nacionalidadError }}
                            </div>
                        </div>
                    </div>

                    <div class="row g-9 mb-7">
                        <div class="col-md-6 fv-row">
                            <label class="required fw-semibold fs-6 mb-2 text-gray-600"
                                translate="FORMS.PATENT.GENERAL_SECTION.EMAIL.LABEL"></label>
                            <input type="email" #correoInput class="form-control form-control-solid"
                                [class.is-invalid]="correoError"
                                [class.is-valid]="!correoError && patenteModel.correo && patenteModel.correo.length > 0"
                                [(ngModel)]="patenteModel.correo" name="correo" #correo="ngModel" required email
                                maxlength="100" (input)="onCorreoChange($event)" [placeholder]="placeholderCorreo" />

                            <div *ngIf="correoError" class="invalid-feedback d-block">
                                {{ correoError }}
                            </div>
                            <div *ngIf="myForm.submitted && correo.invalid && !correoError"
                                class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
                                <div *ngIf="correo.errors?.['required']"><span
                                        translate="FORMS.PATENT.ERRORS.EMAIL_REQUIRED"></span></div>
                                <div *ngIf="correo.errors?.['email']"><span
                                        translate="FORMS.PATENT.ERRORS.EMAIL.INVALID"></span></div>
                            </div>
                        </div>

                        <div class="col-md-6 fv-row">
                            <label class="required fw-semibold fs-6 mb-2 text-gray-600"
                                translate="FORMS.PATENT.GENERAL_SECTION.PHONE"></label>
                            <input type="tel" #celularInput class="form-control form-control-solid"
                                [class.is-invalid]="celularError"
                                [class.is-valid]="!celularError && patenteModel.celular && patenteModel.celular.length === 10"
                                [(ngModel)]="patenteModel.celular" name="celular" #celular="ngModel" required
                                maxlength="10" (input)="onCelularChange($event)" placeholder="1234567890" />

                            <div *ngIf="celularError" class="invalid-feedback d-block">
                                {{ celularError }}
                            </div>
                            <div *ngIf="myForm.submitted && celular.invalid && !celularError"
                                class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
                                <div *ngIf="celular.errors?.['required']"><span
                                        translate="FORMS.PATENT.ERRORS.PHONE"></span></div>
                            </div>
                        </div>
                    </div>

                    <div class="fv-row mb-7">
                        <label class="required fw-semibold fs-6 mb-2 text-gray-600"
                            translate="FORMS.PATENT.GENERAL_SECTION.ADDRESS.LABEL"></label>
                        <textarea #domicilioInput class="form-control form-control-solid" rows="2"
                            [class.is-invalid]="domicilioError"
                            [class.is-valid]="!domicilioError && patenteModel.domicilio && patenteModel.domicilio.length >= 10"
                            [(ngModel)]="patenteModel.domicilio" name="domicilio" #domicilio="ngModel" required
                            minlength="10" maxlength="300" (input)="onDomicilioChange($event)"
                            [placeholder]="placeholderDireccion"></textarea>

                        <div *ngIf="domicilioError" class="invalid-feedback d-block">
                            {{ domicilioError }}
                        </div>
                        <div *ngIf="myForm.submitted && domicilio.invalid && !domicilioError"
                            class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
                            <div *ngIf="domicilio.errors?.['required']"><span
                                    translate="FORMS.PATENT.ERRORS.ADDRESS_REQUIRED"></span></div>
                            <div *ngIf="domicilio.errors?.['minlength']"><span
                                    translate="FORMS.PATENT.ERRORS.ADDRESS_MIN_LENGTH"></span></div>
                            <div *ngIf="domicilio.errors?.['maxlength']"><span
                                    translate="FORMS.PATENT.ERRORS.ADDRESS_MAX_LENGTH"></span></div>
                        </div>
                    </div>

                    <div class="row g-9 mb-7">
                        <div class="col-md-6 fv-row">
                            <label class="fw-semibold fs-6 mb-2 text-gray-600">CURP / RFC</label>
                            <input type="text" #curpRfcInput class="form-control form-control-solid"
                                [class.is-invalid]="curpRfcError"
                                [class.is-valid]="!curpRfcError && patenteModel.curpRfc && patenteModel.curpRfc.length > 0"
                                [(ngModel)]="patenteModel.curpRfc" name="curpRfc" maxlength="18"
                                (input)="onCurpRfcChange($event)" [disabled]="!isCurpRfcEnabled"
                                [placeholder]="placeholderCurpRfc" />

                            <div *ngIf="curpRfcError" class="invalid-feedback d-block">
                                {{ curpRfcError }}
                            </div>
                        </div>

                        <div class="col-md-6 fv-row">
                            <label class="fw-semibold fs-6 mb-2 text-gray-600"
                                translate="FORMS.PATENT.GENERAL_SECTION.INVENTOR_APPLICANT.LABEL"></label>
                            <select class="form-select form-select-solid" [(ngModel)]="patenteModel.inventorDiferente"
                                name="inventorDiferente">
                                <option value="no" translate="FORMS.PATENT.GENERAL_SECTION.INVENTOR_APPLICANT.NO">
                                </option>
                                <option value="si" translate="FORMS.PATENT.GENERAL_SECTION.INVENTOR_APPLICANT.YES">
                                </option>
                            </select>
                        </div>
                    </div>

                    <div class="row g-9 mb-7">
                        <div class="col-md-6 fv-row">
                            <label class="required fw-semibold fs-6 mb-2 text-gray-600"
                                translate="FORMS.PATENT.GENERAL_SECTION.ENTITY.LABEL"></label>
                            <select class="form-select form-select-solid" [(ngModel)]="estadoSeleccionado"
                                (ngModelChange)="onEstadoChange($event)" name="estadoSeleccionado" #estado="ngModel"
                                required>
                                <option value="" translate="FORMS.PATENT.GENERAL_SECTION.ENTITY.SELECT_ENTITY"></option>
                                <option *ngFor="let entidad of entidadesFederativas" [value]="entidad.id">
                                    {{entidad.nombre}}
                                </option>
                            </select>
                            <div *ngIf="myForm.submitted && estado.invalid"
                                class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
                                <div *ngIf="estado.errors?.['required']"><span
                                        translate="FORMS.PATENT.ERRORS.ENTITY"></span></div>
                            </div>
                        </div>

                        <div class="col-md-6 fv-row">
                            <label class="required fw-semibold fs-6 mb-2 text-gray-600"
                                translate="FORMS.PATENT.GENERAL_SECTION.INSTITUTION.LABEL"></label>
                            <select class="form-select form-select-solid" [(ngModel)]="institucionSeleccionada"
                                (ngModelChange)="onInstitucionChange($event)" name="institucionSeleccionada"
                                #institucion="ngModel" required [disabled]="!estadoSeleccionado">
                                <option value=""
                                    translate="FORMS.PATENT.GENERAL_SECTION.INSTITUTION.SELECT_INSTITUTION"></option>
                                <option *ngFor="let inst of institucionesFiltradas" [value]="inst.id">
                                    {{inst.nombre}}
                                </option>
                            </select>
                            <div *ngIf="myForm.submitted && institucion.invalid"
                                class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
                                <div *ngIf="institucion.errors?.['required']"><span
                                        translate="FORMS.PATENT.ERRORS.INSTITUTION"></span></div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- SECCIÓN 2: INFORMACIÓN DE LA INVENCIÓN -->
                <div class="fw-bold fs-3 rotate collapsible mb-7" data-bs-toggle="collapse" role="button"
                    (click)="collapse2.toggle()" [attr.aria-expanded]="!isCollapsed2" aria-controls="kt_invencion_info">
                    <app-keenicon name="document" class="fs-3 me-2"></app-keenicon>
                    <span translate="FORMS.PATENT.INVENTION_SECTION.TITLE"></span>
                    <span class="ms-2 rotate-180">
                        <i class="ki-duotone ki-down fs-3" [ngClass]="{ 'ki-up': !isCollapsed2 }"></i>
                    </span>
                </div>

                <div class="collapse" #collapse2="ngbCollapse" [(ngbCollapse)]="isCollapsed2">
                    <div class="fv-row mb-7">
                        <label class="required fw-semibold fs-6 mb-2 text-gray-600"
                            translate="FORMS.PATENT.INVENTION_SECTION.INVENTION_TITLE.LABEL"></label>
                        <textarea #tituloInput class="form-control form-control-solid" rows="2"
                            [class.is-invalid]="tituloError"
                            [class.is-valid]="!tituloError && patenteModel.tituloInvencion && patenteModel.tituloInvencion.length >= 5"
                            [(ngModel)]="patenteModel.tituloInvencion" name="tituloInvencion" #titulo="ngModel" required
                            minlength="5" maxlength="500" (input)="onTituloChange($event)"
                            [placeholder]="placeholderInvencion"></textarea>

                        <div *ngIf="tituloError" class="invalid-feedback d-block">
                            {{ tituloError }}
                        </div>
                        <div *ngIf="myForm.submitted && titulo.invalid && !tituloError"
                            class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
                            <div *ngIf="titulo.errors?.['required']"><span
                                    translate="FORMS.PATENT.ERRORS.INVENTION_REQUIRED"></span></div>
                            <div *ngIf="titulo.errors?.['minlength']"><span
                                    translate="FORMS.PATENT.ERRORS.INVENTION_MIN_LENGTH"></span></div>
                            <div *ngIf="titulo.errors?.['maxlength']"><span
                                    translate="FORMS.PATENT.ERRORS.INVENTION_MAX_LENGTH"></span></div>
                        </div>
                    </div>

                    <div class="fv-row mb-7">
                        <label class="required fw-semibold fs-6 mb-2 text-gray-600"
                            translate="FORMS.PATENT.INVENTION_SECTION.TECHNICAL_FIELD.LABEL"></label>
                        <textarea #campoTecnicoInput class="form-control form-control-solid" rows="3"
                            [class.is-invalid]="campoTecnicoError"
                            [class.is-valid]="!campoTecnicoError && patenteModel.campoTecnico && patenteModel.campoTecnico.length >= 20"
                            [(ngModel)]="patenteModel.campoTecnico" name="campoTecnico" #campoTecnico="ngModel" required
                            minlength="20" maxlength="800" (input)="onCampoTecnicoChange($event)"
                            [placeholder]="placeholderCampoTecnico"></textarea>

                        <div *ngIf="campoTecnicoError" class="invalid-feedback d-block">
                            {{ campoTecnicoError }}
                        </div>
                        <div *ngIf="myForm.submitted && campoTecnico.invalid && !campoTecnicoError"
                            class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
                            <div *ngIf="campoTecnico.errors?.['required']"><span
                                    translate="FORMS.PATENT.ERRORS.TECHNICAL_FIELD_REQUIRED"></span></div>
                            <div *ngIf="campoTecnico.errors?.['minlength']"><span
                                    translate="FORMS.PATENT.ERRORS.TECHNICAL_FIELD_MIN_LENGTH"></span></div>
                            <div *ngIf="campoTecnico.errors?.['maxlength']"><span
                                    translate="FORMS.PATENT.ERRORS.TECHNICAL_FIELD_MAX_LENGTH"></span></div>
                        </div>
                    </div>

                    <div class="fv-row mb-7">
                        <label class="required fw-semibold fs-6 mb-2 text-gray-600"
                            translate="FORMS.PATENT.INVENTION_SECTION.STATE_TECHNIQUE.LABEL"></label>
                        <textarea #estadoTecnicaInput class="form-control form-control-solid" rows="4"
                            [class.is-invalid]="estadoTecnicaError"
                            [class.is-valid]="!estadoTecnicaError && patenteModel.estadoTecnica && patenteModel.estadoTecnica.length >= 50"
                            [(ngModel)]="patenteModel.estadoTecnica" name="estadoTecnica" #estadoTecnica="ngModel"
                            required minlength="50" maxlength="1500" (input)="onEstadoTecnicaChange($event)"
                            [placeholder]="placeholderEstadoTecnica"></textarea>

                        <div *ngIf="estadoTecnicaError" class="invalid-feedback d-block">
                            {{ estadoTecnicaError }}
                        </div>
                        <div *ngIf="myForm.submitted && estadoTecnica.invalid && !estadoTecnicaError"
                            class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
                            <div *ngIf="estadoTecnica.errors?.['required']"><span
                                    translate="FORMS.PATENT.ERRORS.STATE_TECHNIQUE_REQUIRED"></span></div>
                            <div *ngIf="estadoTecnica.errors?.['minlength']"><span
                                    translate="FORMS.PATENT.ERRORS.STATE_TECHNIQUE_MIN_LENGTH"></span></div>
                            <div *ngIf="estadoTecnica.errors?.['maxlength']"><span
                                    translate="FORMS.PATENT.ERRORS.STATE_TECHNIQUE_MAX_LENGTH"></span></div>
                        </div>
                    </div>

                    <div class="fv-row mb-7">
                        <label class="required fw-semibold fs-6 mb-2 text-gray-600"
                            translate="FORMS.PATENT.INVENTION_SECTION.TECHNICAL_PROBLEM.LABEL"></label>
                        <textarea #problemaTecnicoInput class="form-control form-control-solid" rows="4"
                            [class.is-invalid]="problemaTecnicoError"
                            [class.is-valid]="!problemaTecnicoError && patenteModel.problemaTecnico && patenteModel.problemaTecnico.length >= 30"
                            [(ngModel)]="patenteModel.problemaTecnico" name="problemaTecnico" #problemaTecnico="ngModel"
                            required minlength="30" maxlength="1000" (input)="onProblemaTecnicoChange($event)"
                            [placeholder]="placeholderProblemaTecnico"></textarea>

                        <div *ngIf="problemaTecnicoError" class="invalid-feedback d-block">
                            {{ problemaTecnicoError }}
                        </div>
                        <div *ngIf="myForm.submitted && problemaTecnico.invalid && !problemaTecnicoError"
                            class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
                            <div *ngIf="problemaTecnico.errors?.['required']"><span
                                    translate="FORMS.PATENT.ERRORS.TECHNICAL_PROBLEM_REQUIRED"></span></div>
                            <div *ngIf="problemaTecnico.errors?.['minlength']"><span
                                    translate="FORMS.PATENT.ERRORS.TECHNICAL_PROBLEM_MIN_LENGTH"></span></div>
                            <div *ngIf="problemaTecnico.errors?.['maxlength']"><span
                                    translate="FORMS.PATENT.ERRORS.TECHNICAL_PROBLEM_MAX_LENGTH"></span></div>
                        </div>
                    </div>

                    <div class="fv-row mb-7">
                        <label class="required fw-semibold fs-6 mb-2 text-gray-600"
                            translate="FORMS.PATENT.INVENTION_SECTION.INDUSTRIAL_APPLICATION.LABEL"></label>
                        <textarea #aplicacionIndustrialInput class="form-control form-control-solid" rows="3"
                            [class.is-invalid]="aplicacionIndustrialError"
                            [class.is-valid]="!aplicacionIndustrialError && patenteModel.aplicacionIndustrial && patenteModel.aplicacionIndustrial.length >= 20"
                            [(ngModel)]="patenteModel.aplicacionIndustrial" name="aplicacionIndustrial"
                            #aplicacionIndustrial="ngModel" required minlength="20" maxlength="800"
                            (input)="onAplicacionIndustrialChange($event)"
                            [placeholder]="placeholderAplicacionIndustrial"></textarea>

                        <div *ngIf="aplicacionIndustrialError" class="invalid-feedback d-block">
                            {{ aplicacionIndustrialError }}
                        </div>
                        <div *ngIf="myForm.submitted && aplicacionIndustrial.invalid && !aplicacionIndustrialError"
                            class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
                            <div *ngIf="aplicacionIndustrial.errors?.['required']"><span
                                    translate="FORMS.PATENT.ERRORS.INDUSTRIAL_APPLICATION_REQUIRED"></span></div>
                            <div *ngIf="aplicacionIndustrial.errors?.['minlength']"><span
                                    translate="FORMS.PATENT.ERRORS.INDUSTRIAL_APPLICATION_MIN_LENGTH"></span></div>
                            <div *ngIf="aplicacionIndustrial.errors?.['maxlength']"><span
                                    translate="FORMS.PATENT.ERRORS.INDUSTRIAL_APPLICATION_MAX_LENGTH"></span></div>
                        </div>
                    </div>
                </div>

                <!-- SECCIÓN 3: DESCRIPCIÓN TÉCNICA DETALLADA -->
                <div class="fw-bold fs-3 rotate collapsible mb-7" data-bs-toggle="collapse" role="button"
                    (click)="collapse3.toggle()" [attr.aria-expanded]="!isCollapsed3"
                    aria-controls="kt_descripcion_info">
                    <app-keenicon name="note-2" class="fs-3 me-2"></app-keenicon>
                    <span translate="FORMS.PATENT.DETAILED_DESCRIPTION_SECTION.TITLE"></span>
                    <span class="ms-2 rotate-180">
                        <i class="ki-duotone ki-down fs-3" [ngClass]="{ 'ki-up': !isCollapsed3 }"></i>
                    </span>
                </div>

                <div class="collapse" #collapse3="ngbCollapse" [(ngbCollapse)]="isCollapsed3">
                    <div class="fv-row mb-7">
                        <label class="required fw-semibold fs-6 mb-2 text-gray-600"
                            translate="FORMS.PATENT.DETAILED_DESCRIPTION_SECTION.DETAILED_DESCRIPTION.LABEL"></label>
                        <textarea #descripcionDetalladaInput class="form-control form-control-solid" rows="6"
                            [class.is-invalid]="descripcionDetalladaError"
                            [class.is-valid]="!descripcionDetalladaError && patenteModel.descripcionDetallada && patenteModel.descripcionDetallada.length >= 100"
                            [(ngModel)]="patenteModel.descripcionDetallada" name="descripcionDetallada"
                            #descripcionDetallada="ngModel" required minlength="100" maxlength="3000"
                            (input)="onDescripcionDetalladaChange($event)"
                            [placeholder]="placeholderDescripcionDetallada"></textarea>

                        <div *ngIf="descripcionDetalladaError" class="invalid-feedback d-block">
                            {{ descripcionDetalladaError }}
                        </div>
                        <div *ngIf="myForm.submitted && descripcionDetallada.invalid && !descripcionDetalladaError"
                            class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
                            <div *ngIf="descripcionDetallada.errors?.['required']"><span
                                    translate="FORMS.PATENT.ERRORS.DETAILED_DESCRIPTION_REQUIRED"></span></div>
                            <div *ngIf="descripcionDetallada.errors?.['minlength']"><span
                                    translate="FORMS.PATENT.ERRORS.DETAILED_DESCRIPTION_MIN_LENGTH"></span></div>
                            <div *ngIf="descripcionDetallada.errors?.['maxlength']"><span
                                    translate="FORMS.PATENT.ERRORS.DETAILED_DESCRIPTION_MAX_LENGTH"></span></div>
                        </div>
                    </div>

                    <div class="fv-row mb-7">
                        <label class="required fw-semibold fs-6 mb-2 text-gray-600"
                            translate="FORMS.PATENT.DETAILED_DESCRIPTION_SECTION.EXAMPLES_REALIZATION.LABEL"></label>
                        <textarea #ejemplosRealizacionInput class="form-control form-control-solid" rows="5"
                            [class.is-invalid]="ejemplosRealizacionError"
                            [class.is-valid]="!ejemplosRealizacionError && patenteModel.ejemplosRealizacion && patenteModel.ejemplosRealizacion.length >= 50"
                            [(ngModel)]="patenteModel.ejemplosRealizacion" name="ejemplosRealizacion"
                            #ejemplosRealizacion="ngModel" required minlength="50" maxlength="2000"
                            (input)="onEjemplosRealizacionChange($event)"
                            [placeholder]="placeholderEjemplosRealizacion"></textarea>

                        <div *ngIf="ejemplosRealizacionError" class="invalid-feedback d-block">
                            {{ ejemplosRealizacionError }}
                        </div>
                        <div *ngIf="myForm.submitted && ejemplosRealizacion.invalid && !ejemplosRealizacionError"
                            class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
                            <div *ngIf="ejemplosRealizacion.errors?.['required']"><span
                                    translate="FORMS.PATENT.ERRORS.EXAMPLES_REALIZATION_REQUIRED"></span></div>
                            <div *ngIf="ejemplosRealizacion.errors?.['minlength']"><span
                                    translate="FORMS.PATENT.ERRORS.EXAMPLES_REALIZATION_MIN_LENGTH"></span></div>
                            <div *ngIf="ejemplosRealizacion.errors?.['maxlength']"><span
                                    translate="FORMS.PATENT.ERRORS.EXAMPLES_REALIZATION_MAX_LENGTH"></span></div>
                        </div>
                    </div>

                    <div class="fv-row mb-7">
                        <label class="required fw-semibold fs-6 mb-2 text-gray-600"
                            translate="FORMS.PATENT.DETAILED_DESCRIPTION_SECTION.CLAIMS.LABEL"></label>
                        <textarea #reivindicacionesInput class="form-control form-control-solid" rows="5"
                            [class.is-invalid]="reivindicacionesError"
                            [class.is-valid]="!reivindicacionesError && patenteModel.reivindicaciones && patenteModel.reivindicaciones.length >= 30"
                            [(ngModel)]="patenteModel.reivindicaciones" name="reivindicaciones"
                            #reivindicaciones="ngModel" required minlength="30" maxlength="2000"
                            (input)="onReivindicacionesChange($event)"
                            [placeholder]="placeholderReivindicaciones"></textarea>

                        <div *ngIf="reivindicacionesError" class="invalid-feedback d-block">
                            {{ reivindicacionesError }}
                        </div>
                        <div *ngIf="myForm.submitted && reivindicaciones.invalid && !reivindicacionesError"
                            class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
                            <div *ngIf="reivindicaciones.errors?.['required']"><span
                                    translate="FORMS.PATENT.ERRORS.CLAIMS_REQUIRED"></span></div>
                            <div *ngIf="reivindicaciones.errors?.['minlength']"><span
                                    translate="FORMS.PATENT.ERRORS.CLAIMS_MIN_LENGTH"></span></div>
                            <div *ngIf="reivindicaciones.errors?.['maxlength']"><span
                                    translate="FORMS.PATENT.ERRORS.CLAIMS_MAX_LENGTH"></span></div>
                        </div>
                    </div>

                    <div class="fv-row mb-7">
                        <label class="required fw-semibold fs-6 mb-2 text-gray-600"
                            translate="FORMS.PATENT.DETAILED_DESCRIPTION_SECTION.SUMMARY.LABEL"></label>
                        <textarea #resumenInput class="form-control form-control-solid" rows="4"
                            [class.is-invalid]="resumenError"
                            [class.is-valid]="!resumenError && patenteModel.resumen && patenteModel.resumen.length >= 150 && patenteModel.resumen.length <= 250"
                            [(ngModel)]="patenteModel.resumen" name="resumen" #resumen="ngModel" required
                            minlength="150" maxlength="250" (input)="onResumenChange($event)"
                            [placeholder]="placeholderResumen"></textarea>

                        <div *ngIf="resumenError" class="invalid-feedback d-block">
                            {{ resumenError }}
                        </div>
                        <div *ngIf="myForm.submitted && resumen.invalid && !resumenError"
                            class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
                            <div *ngIf="resumen.errors?.['required']"><span
                                    translate="FORMS.PATENT.ERRORS.SUMMARY_REQUIRED"></span></div>
                            <div *ngIf="resumen.errors?.['minlength']"><span
                                    translate="FORMS.PATENT.ERRORS.SUMMARY_MIN_LENGTH"></span></div>
                            <div *ngIf="resumen.errors?.['maxlength']"><span
                                    translate="FORMS.PATENT.ERRORS.SUMMARY_MAX_LENGTH"></span></div>
                        </div>
                    </div>
                </div>

                <!-- SECCIÓN 4: DOCUMENTACIÓN -->
                <div class="fw-bold fs-3 rotate collapsible mb-7" data-bs-toggle="collapse" role="button"
                    (click)="collapse4.toggle()" [attr.aria-expanded]="!isCollapsed4"
                    aria-controls="kt_documentos_info">
                    <app-keenicon name="folder" class="fs-3 me-2"></app-keenicon>
                    <span translate="FORMS.PATENT.DOCUMENTATION_SECTION.TITLE"></span>
                    <span class="ms-2 rotate-180">
                        <i class="ki-duotone ki-down fs-3" [ngClass]="{ 'ki-up': !isCollapsed4 }"></i>
                    </span>
                </div>

                <div class="collapse" #collapse4="ngbCollapse" [(ngbCollapse)]="isCollapsed4">
                    <div class="card card-flush">
                        <div class="card-body pt-0">
                            <div class="fv-row mb-7">
                                <label class="fw-semibold fs-6 mb-2 text-gray-600"
                                    translate="FORMS.PATENT.DOCUMENTATION_SECTION.IMPI.LABEL"></label>
                                <input type="file" class="form-control form-control-solid"
                                    (change)="onFormatoOficialSelected($event)" accept=".pdf" />
                                <div class="form-text">
                                    <span translate="FORMS.PATENT.DOCUMENTATION_SECTION.IMPI.SUB_TEXT"></span>
                                </div>
                            </div>

                            <div class="fv-row mb-7">
                                <label class="fw-semibold fs-6 mb-2 text-gray-600"
                                    translate="FORMS.PATENT.DOCUMENTATION_SECTION.TECHNICAL_DRAWINGS.LABEL"></label>
                                <input type="file" class="form-control form-control-solid"
                                    (change)="onDibujosSelected($event)" multiple accept=".pdf,.jpg,.jpeg,.png" />
                                <div class="form-text">
                                    <span
                                        translate="FORMS.PATENT.DOCUMENTATION_SECTION.TECHNICAL_DRAWINGS.SUB_TEXT"></span>
                                </div>
                            </div>

                            <div class="fv-row mb-7">
                                <label class="fw-semibold fs-6 mb-2 text-gray-600"
                                    translate="FORMS.PATENT.DOCUMENTATION_SECTION.PAYMENT_FEES.LABEL"></label>
                                <input type="file" class="form-control form-control-solid"
                                    (change)="onComprobantePagoSelected($event)" accept=".pdf" />
                                <div class="form-text">
                                    <span translate="FORMS.PATENT.DOCUMENTATION_SECTION.PAYMENT_FEES.SUB_TEXT"></span>
                                </div>
                            </div>

                            <div class="fv-row mb-7">
                                <label class="fw-semibold fs-6 mb-2 text-gray-600"
                                    translate="FORMS.PATENT.DOCUMENTATION_SECTION.ADDITIONAL_DOCUMENTS.LABEL"></label>
                                <input type="file" class="form-control form-control-solid"
                                    (change)="onDocumentosAdicionalesSelected($event)" multiple accept=".pdf" />
                                <div class="form-text">
                                    <span
                                        translate="FORMS.PATENT.DOCUMENTATION_SECTION.ADDITIONAL_DOCUMENTS.SUB_TEXT"></span>
                                </div>
                            </div>

                            <div *ngIf="allSelectedFiles.length > 0" class="selected-files-list">
                                <h6 class="fw-bold mb-4" translate="FORMS.PATENT.DOCUMENTATION_SECTION.SELECTED_FILES">
                                </h6>
                                <div *ngFor="let fileInfo of allSelectedFiles; let i = index"
                                    class="d-flex align-items-center border border-gray-300 border-dashed rounded p-4 mb-3">
                                    <div class="symbol symbol-50px me-4">
                                        <div class="symbol-label bg-light-info">
                                            <app-keenicon name="document" class="fs-2 text-info"></app-keenicon>
                                        </div>
                                    </div>
                                    <div class="flex-grow-1">
                                        <div class="fw-bold text-gray-800 fs-6">{{fileInfo.file.name}}</div>
                                        <div class="text-muted fs-7">{{fileInfo.tipo}} - {{(fileInfo.file.size / 1024 /
                                            1024).toFixed(2)}} MB</div>
                                    </div>
                                    <button type="button" class="btn btn-sm btn-light-danger" (click)="removeFile(i)">
                                        <app-keenicon name="cross" class="fs-3"></app-keenicon>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- SECCIÓN 5: DECLARACIONES -->
                <div class="fw-bold fs-3 rotate collapsible mb-7" data-bs-toggle="collapse" role="button"
                    (click)="collapse5.toggle()" [attr.aria-expanded]="!isCollapsed5"
                    aria-controls="kt_declaraciones_info">
                    <app-keenicon name="shield-tick" class="fs-3 me-2"></app-keenicon>
                    <span translate="FORMS.PATENT.STATEMENTS_SECTION.TITLE"></span>
                    <span class="ms-2 rotate-180">
                        <i class="ki-duotone ki-down fs-3" [ngClass]="{ 'ki-up': !isCollapsed5 }"></i>
                    </span>
                </div>

                <div class="collapse" #collapse5="ngbCollapse" [(ngbCollapse)]="isCollapsed5">
                    <div class="fv-row mb-7">
                        <div class="form-check form-check-custom form-check-solid">
                            <input class="form-check-input" type="checkbox"
                                [(ngModel)]="patenteModel.declaracionOriginalidad" name="declaracionOriginalidad"
                                #declaracionOriginalidad="ngModel" required />
                            <label class="form-check-label fw-semibold text-gray-700"
                                translate="FORMS.PATENT.STATEMENTS_SECTION.STATEMENT_1">
                            </label>
                        </div>
                        <div *ngIf="myForm.submitted && declaracionOriginalidad.invalid"
                            class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
                            <div *ngIf="declaracionOriginalidad.errors?.['required']"><span
                                    translate="FORMS.PATENT.ERRORS.DECLARATION_ORIGINALITY"></span></div>
                        </div>
                    </div>

                    <div class="fv-row mb-7">
                        <div class="form-check form-check-custom form-check-solid">
                            <input class="form-check-input" type="checkbox"
                                [(ngModel)]="patenteModel.declaracionVeracidad" name="declaracionVeracidad"
                                #declaracionVeracidad="ngModel" required />
                            <label class="form-check-label fw-semibold text-gray-700"
                                translate="FORMS.PATENT.STATEMENTS_SECTION.STATEMENT_2"></label>
                        </div>
                        <div *ngIf="myForm.submitted && declaracionVeracidad.invalid"
                            class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
                            <div *ngIf="declaracionVeracidad.errors?.['required']"><span
                                    translate="FORMS.PATENT.ERRORS.DECLARATION_VERACITY"></span></div>
                        </div>
                    </div>

                    <div class="fv-row mb-7">
                        <label class="fw-semibold fs-6 mb-2 text-gray-600"
                            translate="FORMS.PATENT.STATEMENTS_SECTION.INVENTION_PREVIOUSLY.LABEL"></label>
                        <select class="form-select form-select-solid" [(ngModel)]="patenteModel.divulgacionPrevia"
                            name="divulgacionPrevia">
                            <option value="no" translate="FORMS.PATENT.STATEMENTS_SECTION.INVENTION_PREVIOUSLY.NO">
                            </option>
                            <option value="si" translate="FORMS.PATENT.STATEMENTS_SECTION.INVENTION_PREVIOUSLY.YES">
                            </option>
                        </select>
                    </div>

                    <div *ngIf="patenteModel.divulgacionPrevia === 'si'" class="fv-row mb-7">
                        <label class="fw-semibold fs-6 mb-2 text-gray-600"
                            translate="FORMS.PATENT.STATEMENTS_SECTION.DISCLOSURE_DETAILS.LABEL"></label>
                        <textarea class="form-control form-control-solid" rows="3"
                            [(ngModel)]="patenteModel.detallesDivulgacion" name="detallesDivulgacion"
                            [placeholder]="placeholderDivulgacion"></textarea>
                    </div>
                </div>

                <div class="d-flex justify-content-end mt-10">
                    <button type="button" class="btn btn-light me-3" (click)="onCancel()" [disabled]="isLoading"
                        translate="BUTTON.CANCEL">
                    </button>
                    <button type="submit" class="btn btn-primary" [disabled]="isLoading">
                        <span *ngIf="isLoading" class="spinner-border spinner-border-sm align-middle me-2"></span>
                        <span *ngIf="!isLoading" translate="BUTTON.PATENT"></span>
                        <span *ngIf="isLoading" translate="BUTTON.PROCESSING"></span>
                    </button>
                </div>

            </div>
        </form>
    </div>
</div>

<swal #noticeSwal [swalOptions]="swalOptions"></swal>