<div>
    <div class="card-header border-0 pt-5">
        <h3 class="card-title align-items-start flex-column">
            <span class="card-label fw-bolder fs-3 mb-1" translate="GRAPHICS.TITLES.RECORDS_GENDER"></span>
        </h3>

        <div class="card-toolbar">
            <!-- begin::Button-->
            <div class="btn btn-sm btn-icon btn-bg-light btn-active-color-primary tooltip-css">
                <mat-icon style="color: #1D6F42;">description</mat-icon>
                <span class="tooltip-text" translate="BUTTON.EXPORT_EXCEL"></span>
            </div>
            <!-- end::Button-->
        </div>
    </div>
    <!-- end::Header -->
    <!-- begin::Body -->
    <div class="card-body h-100 p-0"> <!-- Se agregó p0 -->
        <!-- begin::PieCharts -->
        <!-- <div #chartRef id="kt_charts_widget_1_chart"
            style="max-height:350px;">-->
        <div class="chart-responsive-container" 
             style="width: 100%; height: 100%; min-height: 350px; padding: 1rem;">
            <apx-chart 
                [series]="chartOptions?.series || []" 
                [chart]="chartOptions?.chart || { type: 'donut', height: 350 }" 
                [labels]="chartOptions?.labels || []"
                [responsive]="chartOptions?.responsive" 
                [legend]="chartOptions?.legend" 
                [plotOptions]="chartOptions?.plotOptions"
                [dataLabels]="chartOptions?.dataLabels" 
                [stroke]="chartOptions?.stroke">
            </apx-chart>
        </div>
        <!-- end::PieCharts -->
    </div>
</div>