<div class="card">
  <ng-container *ngIf="!coordinadorCreated">
    <div class="card-header border-0 pt-6">
      <div class="card-title">
        <h3>Agregar Coordinador</h3>
      </div>
    </div>

    <div class="card-body">
      <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)" class="form">
        <div class="d-flex flex-column scroll-y me-n7 pe-7">
          <div class="row g-9 mb-7">
            <div class="col-md-4 fv-row">
              <label class="required fw-semibold fs-6 mb-2">Nombre</label>
              <input
                type="text"
                class="form-control form-control-solid"
                name="nombre"
                [(ngModel)]="userModel.nombre"
                #nombre="ngModel"
                required
                minlength="2"
              />
              <div
                *ngIf="userForm.submitted && nombre.invalid"
                class="fv-plugins-message-container invalid-feedback"
              >
                <div *ngIf="nombre.errors?.['required']">
                  El nombre es requerido.
                </div>
                <div *ngIf="nombre.errors?.['minlength']">
                  El nombre debe tener al menos 2 caracteres.
                </div>
              </div>
            </div>
            <div class="col-md-4 fv-row">
              <label class="required fw-semibold fs-6 mb-2"
                >Apellido Paterno</label
              >
              <input
                type="text"
                class="form-control form-control-solid"
                name="ape_pat"
                [(ngModel)]="userModel.ape_pat"
                #ape_pat="ngModel"
                required
                minlength="2"
              />
              <div
                *ngIf="userForm.submitted && ape_pat.invalid"
                class="fv-plugins-message-container invalid-feedback"
              >
                <div *ngIf="ape_pat.errors?.['required']">
                  El apellido paterno es requerido.
                </div>
                <div *ngIf="ape_pat.errors?.['minlength']">
                  Debe tener al menos 2 caracteres.
                </div>
              </div>
            </div>
            <div class="col-md-4 fv-row">
              <label class="required fw-semibold fs-6 mb-2"
                >Apellido Materno</label
              >
              <input
                type="text"
                class="form-control form-control-solid"
                name="ape_mat"
                [(ngModel)]="userModel.ape_mat"
                #ape_mat="ngModel"
                required
                minlength="2"
              />
              <div
                *ngIf="userForm.submitted && ape_mat.invalid"
                class="fv-plugins-message-container invalid-feedback"
              >
                <div *ngIf="ape_mat.errors?.['required']">
                  El apellido materno es requerido.
                </div>
                <div *ngIf="ape_mat.errors?.['minlength']">
                  Debe tener al menos 2 caracteres.
                </div>
              </div>
            </div>
          </div>

          <div class="row g-9 mb-7">
            <div class="col-md-6 fv-row">
              <label class="required fw-semibold fs-6 mb-2"
                >Correo Electrónico</label
              >
              <input
                type="email"
                class="form-control form-control-solid"
                name="correo"
                [(ngModel)]="userModel.correo"
                #correo="ngModel"
                required
                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
              />
              <div
                *ngIf="userForm.submitted && correo.invalid"
                class="fv-plugins-message-container invalid-feedback"
              >
                <div *ngIf="correo.errors?.['required']">
                  El correo es requerido.
                </div>
                <div *ngIf="correo.errors?.['pattern']">
                  El formato del correo no es válido.
                </div>
              </div>
            </div>

            <div class="col-md-6 fv-row">
              <label class="required fw-semibold fs-6 mb-2">Teléfono</label>
              <input
                type="tel"
                class="form-control form-control-solid"
                name="telefono"
                [(ngModel)]="userModel.telefono"
                #telefono="ngModel"
                required
                pattern="[0-9]{10}"
                placeholder="10 dígitos sin espacios"
              />
              <div
                *ngIf="userForm.submitted && telefono.invalid"
                class="fv-plugins-message-container invalid-feedback"
              >
                <div *ngIf="telefono.errors?.['required']">
                  El teléfono es requerido.
                </div>
                <div *ngIf="telefono.errors?.['pattern']">
                  El teléfono debe contener 10 dígitos.
                </div>
              </div>
            </div>
          </div>

          <div class="row g-9 mb-7">
            <div class="col-md-6 fv-row">
              <label class="required fw-semibold fs-6 mb-2">Estado</label>

              <select
                class="form-select form-select-solid"
                name="id_estado"
                [(ngModel)]="userModel.id_estado"
                #id_estado="ngModel"
                required
                (change)="onEstadoChange()"
              >
                <option [ngValue]="null" disabled>Seleccione un Estado</option>
                <option
                  *ngFor="let estado of estados"
                  [ngValue]="estado.id_entidad_federativa"
                >
                  {{ estado.nombre_entidad }}
                </option>
              </select>

              <div
                *ngIf="userForm.submitted && id_estado.invalid"
                class="fv-plugins-message-container invalid-feedback"
              >
                <div *ngIf="id_estado.errors?.['required']">
                  Debe seleccionar un Estado.
                </div>
              </div>
            </div>

            <div class="col-md-6 fv-row">
              <label class="required fw-semibold fs-6 mb-2"
                >Nombre del Instituto</label
              >

              <select
                class="form-select form-select-solid"
                name="id_instituto"
                [(ngModel)]="userModel.id_instituto"
                #id_instituto="ngModel"
                required
                [disabled]="!userModel.id_estado"
              >
                <option [ngValue]="null" disabled>
                  Seleccione un Instituto
                </option>

                <option
                  *ngFor="let instituto of institutoList"
                  [ngValue]="instituto.id_institucion"
                >
                  {{ instituto.nombre_institucion }}
                </option>
              </select>

              <div
                *ngIf="userForm.submitted && id_instituto.invalid"
                class="fv-plugins-message-container invalid-feedback"
              >
                <div *ngIf="id_instituto.errors?.['required']">
                  Debe seleccionar un Instituto.
                </div>
              </div>
            </div>
          </div>

          <div class="row g-9 mb-7">
            <div class="col-md-6 fv-row">
              <label class="required fw-semibold fs-6 mb-2">Contraseña</label>
              <div class="position-relative">
                <input
                  [type]="passwordVisible ? 'text' : 'password'"
                  class="form-control form-control-solid"
                  name="password"
                  [(ngModel)]="userModel.password"
                  #password="ngModel"
                  required
                  minlength="8"
                  pattern="^(?=.*[A-Z])(?=.*\d).{8,}$"
                />
                <button
                  type="button"
                  (click)="passwordVisible = !passwordVisible"
                  class="btn btn-sm btn-icon btn-active-color-primary position-absolute top-50 end-0 translate-middle-y me-2"
                  tabindex="-1"
                >
                  <i
                    class="ki-duotone fs-2"
                    [class.ki-eye-slash]="!passwordVisible"
                    [class.ki-eye]="passwordVisible"
                  >
                    <span class="path1"></span>
                    <span class="path2"></span>
                    <span class="path3"></span>
                    <span class="path4"></span>
                  </i>
                </button>
              </div>

              <div
                *ngIf="
                  password.invalid &&
                  (password.dirty || password.touched || userForm.submitted)
                "
                class="fv-plugins-message-container invalid-feedback"
              >
                <div *ngIf="password.errors?.['required']">
                  La contraseña es requerida.
                </div>
                <div *ngIf="password.errors?.['minlength']">
                  Al menos 8 caracteres.
                </div>
                <div *ngIf="password.errors?.['pattern']">
                  Debe incluir al menos una mayúscula y un número.
                </div>
              </div>

              <div
                class="text-muted mt-2 fs-7"
                *ngIf="!password.valid && (password.dirty || password.touched)"
              >
                <span
                  [class.text-danger]="
                    !password.value || password.value.length < 8
                  "
                  [class.text-success]="password.value?.length >= 8"
                >
                  Al menos 8 caracteres </span
                ><br />
                <span
                  [class.text-danger]="
                    !password.value || !password.value.match('[A-Z]')
                  "
                  [class.text-success]="password.value?.match('[A-Z]')"
                >
                  Al menos una letra mayúscula </span
                ><br />
                <span
                  [class.text-danger]="
                    !password.value || !password.value.match('[0-9]')
                  "
                  [class.text-success]="password.value?.match('[0-9]')"
                >
                  Al menos un número
                </span>
              </div>
            </div>

            <div class="col-md-6 fv-row">
              <label class="required fw-semibold fs-6 mb-2"
                >Confirmar Contraseña</label
              >
              <div class="position-relative">
                <input
                  [type]="confirmPasswordVisible ? 'text' : 'password'"
                  class="form-control form-control-solid"
                  name="confirmPasswordInput"
                  [(ngModel)]="confirmPassword"
                  #confirmPasswordInput="ngModel"
                  required
                />
                <button
                  type="button"
                  (click)="confirmPasswordVisible = !confirmPasswordVisible"
                  class="btn btn-sm btn-icon btn-active-color-primary position-absolute top-50 end-0 translate-middle-y me-2"
                  tabindex="-1"
                >
                  <i
                    class="ki-duotone fs-2"
                    [class.ki-eye-slash]="!confirmPasswordVisible"
                    [class.ki-eye]="confirmPasswordVisible"
                  >
                    <span class="path1"></span>
                    <span class="path2"></span>
                    <span class="path3"></span>
                    <span class="path4"></span>
                  </i>
                </button>
              </div>

              <div
                *ngIf="
                  (confirmPasswordInput.invalid &&
                    (confirmPasswordInput.touched || userForm.submitted)) ||
                  (userForm.submitted && userModel.password !== confirmPassword)
                "
                class="fv-plugins-message-container invalid-feedback"
              >
                <div *ngIf="confirmPasswordInput.errors?.['required']">
                  La confirmación es requerida.
                </div>
                <div
                  *ngIf="!confirmPasswordInput.errors?.['required'] && userModel.password !== confirmPassword"
                >
                  Las contraseñas deben coincidir.
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="d-flex justify-content-end pt-5">
          <button type="button" class="btn btn-light me-3" (click)="onCancel()">
            Cancelar
          </button>
          <button type="submit" class="btn btn-primary">
            <span class="indicator-label">Guardar</span>
          </button>
        </div>
      </form>
    </div>
  </ng-container>
</div>
