<div class="container">
  <!-- Header -->
  <div class="card-body pb-0">
    <div class="d-flex align-items-start mb-5">
      <!-- Avatar -->
      <div class="symbol symbol-75px me-5 mt-2">
        <img
          src="./assets/media/avatars/300-25.jpg"
          alt="Avatar"
          class="rounded-circle"
        />
      </div>
      <!-- Info -->
      <div class="d-flex flex-column justify-content-center">
        <h1 class="fw-bold text-gray-800 display-5 mb-0">
          Jorge Díaz Hernández
        </h1>
        <p class="text-gray-500 fw-bold mb-1">
          <strong>Institución:</strong> Instituto Tecnológico de Orizaba
        </p>
        <p class="text-gray-500 fw-bold mb-1">
          <strong>Tipo de Institución:</strong> Federativa
        </p>
        <p class="text-gray-500 fw-bold mb-1">
          <strong>Estado:</strong> Veracruz
        </p>
        <p class="text-gray-500 fw-bold mb-1">
          <strong>Puesto:</strong> Doctor
        </p>
      </div>
    </div>
  </div>

  <!-- Estadísticas -->
  <div class="row mb-5">
    <div class="col-md-4">
      <div class="card">
        <div class="card-body text-center">
          <h3 class="fw-bold text-gray-800">Total Solicitudes</h3>
          <span class="fs-1 fw-bolder text-primary">{{
            totalSolicitudes
          }}</span>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body text-center">
          <h3 class="fw-bold text-gray-800">Solicitudes Pendientes</h3>
          <span class="fs-1 fw-bolder text-warning">{{
            solicitudesPendientes
          }}</span>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body text-center">
          <h3 class="fw-bold text-gray-800">En trámite</h3>
          <span class="fs-1 fw-bolder text-info">{{
            solicitudesEnTramite
          }}</span>
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-5">
    <div class="col-md-4">
      <div class="card">
        <div class="card-body text-center">
          <h3 class="fw-bold text-gray-800">Registrada</h3>
          <span class="fs-1 fw-bolder text-success">{{
            solicitudesRegistradas
          }}</span>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body text-center">
          <h3 class="fw-bold text-gray-800">Trámite con Observaciones</h3>
          <span class="fs-1 fw-bolder text-danger">{{
            solicitudesConObservaciones
          }}</span>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body text-center">
          <h3 class="fw-bold text-gray-800">Aprobada</h3>
          <span class="fs-1 fw-bolder text-primary">{{
            solicitudesAprobadas
          }}</span>
        </div>
      </div>
    </div>
  </div>
  <!-- Gráficos -->
  <div class="row mb-5">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header border-0 pt-5">
          <h3 class="card-title align-items-start flex-column">
            <span class="card-label fw-bolder fs-3 mb-1">Mis Solicitudes</span>
          </h3>
        </div>
        <div class="card-body">
          <div #chartRef id="dashboard_chart" [style.height]="'350px'">
            <apx-chart
              [series]="chartOptions.series"
              [chart]="chartOptions.chart"
              [xaxis]="chartOptions.xaxis"
              [yaxis]="chartOptions.yaxis"
              [dataLabels]="chartOptions.dataLabels"
              [stroke]="chartOptions.stroke"
              [legend]="chartOptions.legend"
              [fill]="chartOptions.fill"
              [states]="chartOptions.states"
              [tooltip]="chartOptions.tooltip"
              [colors]="chartOptions.colors"
              [plotOptions]="chartOptions.plotOptions"
            ></apx-chart>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Mis Solicitudes -->
  <div class="card">
    <!-- Header -->
    <div class="card-header border-0 pt-5">
      <h3 class="card-title align-items-start flex-column">
        <span class="card-label fw-bolder fs-3 mb-1">Mis Solicitudes</span>
      </h3>
      <!-- Paginador: Selector de cantidad por página -->
      <div class="card-toolbar">
        <div class="d-flex align-items-center">
          <label class="form-label text-gray-600 me-3 mb-0">Mostrar:</label>
          <select
            class="form-select form-select-sm form-select-solid w-75px"
            [(ngModel)]="pageLength"
            (change)="onPageLengthChange($event)"
          >
            <option *ngFor="let length of lengthMenu" [value]="length">
              {{ length }}
            </option>
          </select>
        </div>
      </div>
    </div>

    <!-- Body -->
    <div class="card-body pt-0">
      <app-crud
        [datatableConfig]="datatableConfig"
        route="/apps/solicitudes"
        (deleteEvent)="delete($event)"
        (editEvent)="editarSolicitud($event)"
        [reload]="reloadEvent"
      ></app-crud>

      <swal #noticeSwal [swalOptions]="swalOptions"></swal>
    </div>
  </div>
</div>
